@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

h1 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}
