@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: #5e37ff;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 400;
    line-height: 1.2;
  }

  #root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 50px;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
  }
}
